*{
    box-sizing: border-box;
}

h1, h2, h3{
    text-align: center;
}

h2,h3{
    text-decoration-line: underline;
    font-weight: normal;
}

.box{
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 11px;
    font-weight: 600;
    font-size: x-large;
}

.prime{
    background-color: #FD5E53;
}

.even{
    background-color: #21BF73;
}

.odd{
    background-color: #FDDB3A;
}


.wrapper{
    display: flex;
    place-items: center;
    flex-wrap: wrap;
    max-width: 610px;
    margin: 0 auto;
    gap: 2px;
}